
/* When updating css, you may need to force refresh the page (cmd+shift+r) for the browser to pick up on the changes. */

.student-select {
    width: 400px;
}

.mc-question-summary-table td:first-child {
    background-color: aqua;
}

body {
    padding-inline: 5% 
}
