
/* When updating css, you may need to force refresh the page (cmd+shift+r) for the browser to pick up on the changes. */

.student-select {
    width: 400px;
}

.mc-question-summary-table td:first-child {
    background-color: aqua;
}

body {
    padding-inline: 5% 
}

.my-buttons {
    background-color: var(--md-blue-800) !important;
    color: white !important;
}

.vertical-tabs {
    width: 100%;
}

.vertical-tabs[aria-selected="true"] {
    background-color: var(--md-deep-orange-800) !important;
}

.v-tabs--vertical .v-tabs-slider {
    color:  var(--md-deep-orange-800);
}

.horizontal-tabs[aria-selected="true"] {
    color: var(--md-blue-800) !important;
    font-weight: 800; 
}

.v-card__text {
    color: black !important;
}

.info-text{
    padding: 0.5rem;
}

#h2 {
    margin-top: 0rem !important;
}

.v-expansion-panel-header {
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

/* Disable plotly tools */
.modebar {
    display: none !important;
}   

#click-any-row-for-more-detailed-question-information {
    padding-left: 0.625rem;  /* 10px @ 16px/rem */
}
#select-a-student-from-the-table-above-to-see-their-responses {
    padding-left: 0.625rem;   
}