:root {
    /* define light material desing them */
    --primary-light: #1565C0 ;
    --secondary-light: #006064 ;
    --accent-light: #FFD740 ;
    --error-light: #F06292 ;
    --info-light: #FF7043 ;
    --success-light: #388E3C  ;
    --warning-light: #DD2C00 ;
    
    /* define dark material desing them */
    --primary-dark: #0D47A1 ;
    --secondary-dark: #00838F ;
    --accent-dark: #FFC400 ;
    --error-dark: #D81B60 ;
    --info-dark: #BF360C ;
    --success-dark: #00E676 ;
    --warning-dark: #DD2C00 ;
    
    --cosmic-red: #e60001 ;
    --cosmic-blue: #0e397e ;
    
    --cosmic-red-lighter: #ff4d4d ;
    --cosmic-blue-lighter: #1861d8 ;
    
    --cosmic-red-darker: #800000 ;
    --cosmic-blue-darker: #09234e ;
    
    
}

/* media query preferes light color scheme */
@media (prefers-color-scheme: light) {
    :root {
        --primary: var(--primary-light);
        --secondary: var(--secondary-light);
        --accent: var(--accent-light);
        --error: var(--error-light);
        --info: var(--info-light);
        --success: var(--success-light);
        --warning: var(--warning-light);
    }
}

/* media query prefers dark color scheme */
@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--primary-dark);
        --secondary: var(--secondary-dark);
        --accent: var(--accent-dark);
        --error: var(--error-dark);
        --info: var(--info-dark);
        --success: var(--success-dark);
        --warning: var(--warning-dark);
    }
}


.student-select {
    width: 400px;
}


.mc-question-summary-table .v-data-table__selected {
    background: var(--md-amber-100) !important;
    color: black;
}

.mc-individual-student-table .v-data-table__selected {
    background: var(--md-amber-100) !important;
    color: black;

}


.cds-dashboard {
/* wrapper for specificity */
}
.cds-dashboard .my-buttons {
    width: 100%;
    background-color: var(--md-blue-800) !important;
    color: white !important;
    margin-bottom: 5px;
}

.cds-dashboard .my-buttons.student-name-button {
    width: auto;
    min-width: 200px;
}

.cds-dashboard .my-cards {
    max-width: 98%;
    padding: 10px;
}

.cds-dashboard .v-dialog {
    box-shadow: none;
}

.cds-dashboard .my-success {
    margin-block: 10px;
}

.cds-dashboard .dialog-button {
    position:absolute;
    right: 1.5rem;
    bottom: 0.5rem;
    background-color: var(--md-blue-800) !important;
    color: white !important;
}

.cds-dashboard .col {
    padding-block: 0;
}

.cds-dashboard .vertical-tabs {
    width: 100%;
}

.cds-dashboard .vertical-tabs[aria-selected="true"] {
    background-color: var(--md-deep-orange-800) !important;
    color: white;
}

.cds-dashboard .v-tabs--vertical .v-tabs-slider {
    color:  var(--md-deep-orange-800);
}

.cds-dashboard .horizontal-tabs[aria-selected="true"] {
    color: var(--md-blue-700) !important;
    font-weight: 800; 
}

.cds-dashboard .v-btn__content {
    font-size: small;
}

.cds-dashboard .v-btn--contained {
    padding-block: 0;
}

.cds-dashboard .v-card__text {
    /* color: black !important; */
    padding-top: 0;
    padding-bottom: 16px;
}

.cds-dashboard .info-text{
    padding: 0.5rem;
}

.cds-dashboard .v-expansion-panel-header {
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

/* Disable plotly tools */
.cds-dashboard .modebar {
    display: none !important;
}   

.cds-dashboard #click-any-row-for-more-detailed-question-information {
    padding-left: 0.625rem;  /* 10px @ 16px/rem */
}
.cds-dashboard #select-a-student-from-the-table-above-to-see-their-responses {
    padding-left: 0.625rem;   
}

.cds-dashboard .solara-markdown {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.theme--dark .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: #1e1e1e;
}

.theme--light .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: white;
}
/* make vertical tabs horizontal on tall screns */
/* 1130 to account for plot legend overlap */
@media (max-width: 1130px) {
    .cds-dashboard .v-tabs--vertical {
        display: block;
    }
    
    .cds-dashboard .v-tabs--vertical > .v-tabs-bar > .v-slide-group__wrapper {
        flex: 0 1 auto;
    }
    .cds-dashboard .v-tabs--vertical>.v-tabs-bar .v-tabs-bar__content {
        flex-direction: row
    }

}
